@import "variables";

.form-input {
  border-radius: 4px;
  border: 0;
  padding: 15px;
  outline: none;
  color: $grey-color2;
  min-width: 350px;
}

/* The container */
.form-label {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;
  padding-left: 30px;
}

/* Hide the browser's default checkbox */
.form-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.form-label-checkmark {
  position: absolute;
  top: 1px;
  left: 0;
  height: 14px;
  width: 14px;
  border: 2px solid white;
  border-radius: 50%;
  transition: .3s;
}

/* On mouse-over, add a grey background color */
.form-label:hover input ~ .form-label-checkmark {
  border: 2px solid $blue-color;
}

/* When the checkbox is checked, add a blue background */
.form-label input:checked ~ .form-label-checkmark {
  border-color: $blue-color;
}

/* Create the checkmark/indicator (hidden when not checked) */
.form-label-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.form-label input:checked ~ .form-label-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.form-label .form-label-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: 1px solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  transition: .3s;
}

.form-label input[type="radio"] + .form-label-checkmark:after {
  border-radius: 50%;
  border-width: 2px;
  background-color: $blue-color;
  border: 0;
  width: 6px;
  height: 6px;
  top: 2px;
  left: 2px;
}
