.intro {
  &-section {
    padding: 185px 0 300px;
    background-image: url(../img/lines.svg);
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;

    .h1-heading {
      margin: 0 0 15px;
    }

    .text-big {
      margin: 15px 0 50px;
    }

    @media (max-width: 992px) {
      text-align: center;
      background-position: top left;
      padding: 100px 0 50px;

      .btn-blue-fill {
        min-width: unset;
      }
    }

    @media (max-width: 385px) {
      .btn {
        min-width: unset;
      }
    }
  }

  &-row {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &-col {
    max-width: 50%;

    @media (max-width: 768px) {
      flex-direction: column;
      max-width: 100%;
    }

    @media (max-width: 576px) {
      &:last-of-type {
        width: calc(100% + 20px);
        max-width: unset;
      }
    }
  }

  &-swiper {
    &-slide {
      img {
        border-radius: 9px;
      }
    }

    .intro-swiper-button-next,
    .intro-swiper-button-prev {
      outline: none;

      &:after {
        content: "";
        background-image: url(../img/icons/arrow-right.svg);
        background-size: contain;
        background-repeat: no-repeat;
        font-size: 0;
        width: 12px;
        height: 20px;

        @media (max-width: 768px) {
          width: 10px;
          height: 16px;
        }
      }
    }

    .intro-swiper-button-prev {
      &:after {
        transform: rotate(180deg);
      }
    }

    @media (max-width: 992px) {
      margin-top: 50px;
    }
  }
}
