.subscribe {
    &-section {
        padding: 150px 0;
        background-image: url(../img/blue-bg.svg);
        background-size: cover;
        background-position: center;
        text-align: center;
    }
}