$black-color1: #0F0F0F;
$black-color2: #151515;
$lightgrey-color: #ACADAF;
$grey-color1: #BEBEBE;
$grey-color2: #9EA7B7;
$dark-blue-color: #556176;
$blue-color: #0080FF;
$green-bright-color: #0FD369;
$red-bright-color: #E90E0E;
$green-dark-color: #282E2A;
$red-dark-color: #271A1A;